# Renamed backend paths
"backend/vmarket-web/app/Providers/RouteServiceProvider.php" export-ignore
"backend/vmarket-web/create_linux_zip.py" export-ignore
"backend/vmarket-web/create_patch_zip.py" export-ignore
"backend/vmarket-web/optimize_existing_images.php" export-ignore

# Line Ending Normalization (LF)
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.blade.php text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.md text eol=lf
